[Unit]
Description=Monitoring Tool
After=network.target

[Service]
ExecStart=/bin/bash /home/auser/TraficMonitoringService.sh
WorkingDirectory=/home/auser
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
